/*текст*/

#t1 {
    height: auto;
    width: 50%;
    float: left;
    color: black;
    margin: 5px;
}

#t2 {
    width: 50%;
    height: auto;
    float: left;
    color: black;
    margin: 5px;
}

#t3 {
    height: auto;
    width: 50%;
    float: left;
    color: black;
    margin: 5px;
}

#t4 {
    width: 50%;
    height: auto;
    float: left;
    color: black;
    margin: 5px;
}

#t5 {
    height: auto;
    width: 50%;
    float: left;
    color: black;
    margin: 5px;
}

#t6 {
    width: 50%;
    height: auto;
    float: left;
    color: black;
    margin: 5px;
}

#t7 {
    height: auto;
    width: 50%;
    float: left;
    color: black;
    margin: 5px;
}

#t8 {
    width: 50%;
    height: auto;
    float: left;
    color: black;
    margin: 5px;
}

#t9 {
    height: auto;
    width: 50%;
    float: left;
    color: black;
    margin: 5px;
}

#t10 {
    width: 50%;
    height: auto;
    float: left;
    color: black;
    margin: 5px;
}

#t11 {
    height: auto;
    width: 50%;
    float: left;
    color: black;
    margin: 5px;
}