/*картинки*/

#p1 {
    width: 40%;
    height: auto;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}

#p2 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}

#p3 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}

#p4 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    margin-top: 50px;
    border-radius: 10px;
}

#p5 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}

#p6 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

#p7 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}

#p8 {
    height: auto;
    width: 40%;
    float: left;
    /*border: 2px solid rgb(70, 58, 64);*/
    margin: 5px;
    border-radius: 10px;
}

#p9 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}

#p10 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}

#p11 {
    height: auto;
    width: 40%;
    float: left;
    border: 2px solid rgb(70, 58, 64);
    margin: 5px;
    border-radius: 10px;
}